<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
 xmlns:context="http://www.springframework.org/schema/context"  
 xmlns:p="http://www.springframework.org/schema/p"  
 xmlns:mvc="http://www.springframework.org/schema/mvc"  
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
 xsi:schemaLocation="http://www.springframework.org/schema/beans  
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
      http://www.springframework.org/schema/context  
      http://www.springframework.org/schema/context/spring-context.xsd  
      http://www.springframework.org/schema/mvc  
      http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
     <!-- 注解扫描包 -->
	<context:component-scan base-package="com.bruce.controller" />
	<!-- 开启注解 -->
	
	<mvc:annotation-driven/>
	
	<!-- 让web.xml文件中的welcome-file-list的文件，例如index。html,能够被加载 -->
	<mvc:default-servlet-handler />
	
	<!-- <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"></bean> -->
	<!-- 静态资源访问 -->
	 <mvc:resources location="/images/" mapping="/images/**"/>  
	 <mvc:resources location="/js/" mapping="/js/**"/>   
	
	<!-- JSP views,前缀为/view/,后缀为.jsp，所有大家在Controller中不需要写前缀与后缀，表现层，我们一致使用jsp -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 验证annotation 权限控制 -->
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
		<property name="contentType">
			<value>text/html;charset=UTF-8</value>
		</property>
	</bean>
	

	<!-- 验证annotation 权限控制 -->
	<mvc:interceptors>
		<bean class="com.bruce.authority.interceptor.LoginAnnotationInterceptor"></bean>
		<bean class="com.bruce.authority.interceptor.AuthorityAnnotationInterceptor"></bean>
	</mvc:interceptors>
	
 </beans>  